{% extends "::admin.html.twig" %}

{% block title %}StatusList{% endblock %}

{% block body %}
    <div class="row mt-4">
        <div class="col-4">
            <button class="btn btn-outline-primary">
                <a href="{{ path('app_admin_addstatus') }}">Add Status</a>
            </button>
        </div>
        <div class="col-4"></div>
        <div class="col-4"></div>
    </div>
    <div class="row mt-4">
        <div class="col-12">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Status Description</th>
                    <th colspan="2" width="10%">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% set i = 1 %}
                {% for status in statuses %}
                    <tr>
                        <th scope="row">{{ i }}</th>
                        <td>{{ status.description }}</td>
                        <td>
                            <a href="{{ path('app_admin_editstatus',{id:status.id}) }}"><i class="fa fa-edit"></i> </a>
                        </td>
                        <td>
                            <a href="{{ path('app_admin_deletestatus',{id:status.id}) }}"><i class="fa fa-times"></i> </a>
                        </td>
                    </tr>
                    {% set i = i + 1 %}
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>

{% endblock %}
